// Add styles for snake

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$primary-colour: #B1EA72;
$secondary-colour: #DEA380;
$tiertiary-colour: #054B3F;

///All text 
*{
    font-family: 'Press Start 2P', cursive;
}
.apple{
    background-color:red;
}

.snake{
    background-color: greenyellow;
}

.gamelevel{
    text-align: center;
    color: $primary-colour;
    @media only screen and (max-width: 1024px) {
        font-size: 30%;
      }
    @media only screen and (min-width: 1024px) {
      font-size: 70%;
    }
    .level__text{
       text-align: center;
       font-size: 100%;
    }

}
.level--error{
    border: 2px solid red;
}
.level--errormsg-hide{
    display: none;
}
.level--errormsg{
    color: red;
    font-size: 95%;
    padding: 0px;
    margin-top: 4vh;
}


#score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vmin;
    font-size: 35%;
    h2 {
        color: $primary-colour;
    } 
    @media only screen and (min-width: 1024px) {
        font-size: 60% !important;
      }
};

.scores {
    display: flex;
    flex-direction: row;
}




#start__img{
    height: 50%;
    width: 50%;
}

#replay__img{
    height: 40%;
    width: 40%;
}

.level {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 0px !important;
    label{
        margin-top: 10px;
    }
}

// input[type="radio"] {
//     margin-top: -1px;
//     vertical-align: middle;
//   }

  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $primary-colour;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $tiertiary-colour;
}

