body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkslategrey;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
body .game-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: cornsilk;
  width: 80vmin;
}
body .level--error {
  border: 2px solid red;
}
body .scores {
  display: flex;
  flex-direction: row;
}
body #score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vmin;
}
body #score #score__text, body #score #score__value {
  color: cornsilk;
}
body .screen {
  background-color: cornsilk;
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body .screen .board__square {
  width: 4%;
  height: 4%;
}
body .screen--hide {
  display: none !important;
}
body .start--hide {
  display: none !important;
}
body .start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .replay--hide {
  display: none !important;
}
body .replay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .board--hide {
  display: none;
}
body .controls {
  width: 80vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}