body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    margin: 0;
    width: 100vw;
    height: 100vh;

    .scores {
        display: flex;
        flex-direction: row;
    }

    #score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vmin;

    #score__text, #score__value {
        color: cornsilk;
    }
    }

#board {
    background-color: cornsilk;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}


.start--hide{
    display: none !important;
}
.start{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/26/26;
}
.end--hide{
    display: none !important;
}
.end{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/26/26;
}
}
