body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    margin: 0;
    width: 100vw;
    height: 100vh;

    .game-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: cornsilk;
        width: 80vmin;
    }
    .level--error{
        border: 2px solid red;
    }
    .level--errormsg-hide{
        display: none;
    }
    .level--errormsg{
        color: red;
        font-size: 75%;
        padding: 0px;
        margin: 0px;
    }

    .scores {
        display: flex;
        flex-direction: row;
    }

    #score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vmin;

    #score__text, #score__value {
        color: cornsilk;
    }
    }

.screen {
    background-color: cornsilk;
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .board__square{
        width: 4%;
        height: 4%;
    }
}
.screen--hide {
    display: none !important;
}
    

.start--hide{
    display: none !important;
}
.start{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.replay--hide{
    display: none !important;
}
.replay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board--hide {
    display: none;
}


.controls {
    width: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
