@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Press Start 2P", cursive;
}

.apple {
  background-color: red;
}

.snake {
  background-color: greenyellow;
}

.gamelevel {
  text-align: center;
  color: #B1EA72;
}
@media only screen and (max-width: 1024px) {
  .gamelevel {
    font-size: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .gamelevel {
    font-size: 70%;
  }
}
.gamelevel .level__text {
  text-align: center;
  font-size: 100%;
}

.level--error {
  border: 2px solid red;
}

.level--errormsg-hide {
  display: none;
}

.level--errormsg {
  color: red;
  font-size: 95%;
  padding: 0px;
  margin-top: 4vh;
}

#score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vmin;
  font-size: 35%;
}
#score h2 {
  color: #B1EA72;
}
@media only screen and (min-width: 1024px) {
  #score {
    font-size: 70%;
  }
}

.scores {
  display: flex;
  flex-direction: row;
}

#start__img {
  height: 50%;
  width: 50%;
}

#replay__img {
  height: 40%;
  width: 40%;
}

.level {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 0px !important;
}
.level label {
  margin-top: 10px;
}

input[type=radio]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #B1EA72;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #054B3F;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-position: center;
}
@media only screen and (max-width: 480px) {
  body {
    background-image: url("./smbg-01.svg");
    justify-content: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1366px) {
  body {
    background-image: url("./medbg-01.svg");
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1367px) {
  body {
    background-image: url("./lgbg-01.svg");
    justify-content: space-around;
  }
}
body .game-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80vmin;
}
body .screen {
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(177, 234, 114, 0.5);
}
body .screen .board__square {
  width: 4%;
  height: 4%;
}
body .screen--hide {
  display: none !important;
}
body .start--hide {
  display: none !important;
}
body .start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(177, 234, 114, 0.5);
}
body .start .start__title {
  text-align: center;
  color: #054B3F;
}
body .start__button, body .replay__button {
  color: #054B3F !important;
}
body .replay--hide {
  display: none !important;
}
body .replay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .board--hide {
  display: none;
}

#up__arrow {
  transform: rotate(270deg);
  color: #054B3F;
}

#left__arrow {
  transform: rotate(180deg);
  color: #054B3F;
}

#down__arrow {
  transform: rotate(90deg);
  color: #054B3F;
}

#right__arrow {
  color: #054B3F;
}

.controls {
  width: 80vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5%;
}
.controls .controls__left-right {
  display: flex;
  flex-direction: row;
}
.controls .controls__button {
  padding: 0px;
  width: 10vmin;
  height: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #054B3F 1vw;
  background-color: greenyellow;
}
@media only screen and (max-width: 480px) {
  .controls .controls__button {
    height: 20vmin !important;
    width: 30vmin !important;
  }
}
@media only screen and (min-width: 480px) {
  .controls .controls__button {
    height: 7.5vmin !important;
    width: 12vmin !important;
  }
}